
.DS_Store
errors.txt
images.rpa
scripts.rpa
audio.rpa
fonts.rpa
game/cache/bytecode.rpyb
game/cache/pyanalysis.rpyb
game/cache/screens.rpyb
*.rpyc
*.save
game/saves/persistent
*.bak
log.txt
project.json
traceback.txt
game/firstrun
characters/*.chr
*.swp
